* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: sienna;
  color: #fff;
  flex-direction: row;
  margin-bottom: 25px;
}

.welcome {
  background-image: url("./images/backgr-img.png");
  background-repeat: no-repeat;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: aliceblue;
  width: auto;
}

.welc-text {
  padding-top: 131px;
  font-size: 30px;
}
